<h1>Sales</h1>

<% @employees.each do |employee| %>
<% if employee.last_name == 'Bobby' %><p class="bobby">
    <%= employee.last_name %>:
    <% employee.find_sales(@sales) %>
    <% employee.sales.each do |sale|  %>
     $<%= "%.2f" % sale.sale_value%>
     <% end %>
  <% elsif employee.class == QuotaSalesPerson || employee.class == CommissionSalesPerson %><p>

    <%= employee.last_name %>:
    <% employee.find_sales(@sales) %>
    <% employee.sales.each do |sale|  %>
     $<%= "%.2f" % sale.sale_value%>


    <% end %>
    <%end%>
    <% if employee.class == CommissionSalesPerson %>
      ( Commission: $<%= "%.2f" % employee.commission %> )
    <%end%></p>
<% end %>
